body {
  background: rgb(13, 6, 50);
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: rgb(210, 210, 210);
  box-sizing: border-box;
  font-family: Roboto, "Courier New", Courier, monospace;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 40px;
}

.board {
  display: flex;
  padding: 80px;
  border: 4px dashed #fff;
}

.scores {
  width: 60%;
  padding-right: 30px;
}

.scores > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  margin-bottom: 2px;
}

.scores > .header button {
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
}


.scores > .score-board > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scores > .score-board > ul li {
  padding: 10px;
}

.board-state {
  padding: 10px;
  text-align: center;
}

.scores > .score-board > ul li:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.043);
}

.form {
  width: 40%;
  padding-left: 30px;
}

.form .submit {
  display: flex;
  justify-content: end;
}

.form .submit button {
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
}

.form .form-col {
  width: 100%;
  display: flex;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: white;
}

.form input:focus {
  outline: none;
}

#form-load {
  display: none;
}

.error {
  border-color: red !important;
}
